# Docker Registry Configuration
# REGISTRY=ghcr.io/<your-github-username>

# Image source prefix (defaults to $USER)
# SOURCE=local

# Config volume path (defaults to named volume 'magg-config' except for dev)
# MAGG_CONFIG_VOLUME=./.magg

# Authentication
# MAGG_PRIVATE_KEY=  # generate with `magg auth private-key --oneline`
# MAGG_JWT=  # For clients - generate with `magg auth jwt -q`

# Logging
# MAGG_LOG_LEVEL=WARNING
# MAGG_DEBUG=0
# MAGG_QUIET=0

# Other options
# MAGG_CONFIG_PATH=./magg/config.json
# MAGG_SELF_PREFIX=magg  # The prefix used in the MCP server for magg's own tools
