# Docker Registry Configuration
# REGISTRY=ghcr.io/<your-github-username>

# Image source prefix for docker compose (defaults to $USER)
# SOURCE=local

# Config volume path for compose (defaults to named volume 'magg-config' except for dev)
# MAGG_CONFIG_VOLUME=./.magg

# Authentication
# MAGG_PRIVATE_KEY=  # generate with `magg auth private-key --oneline`
# MAGG_JWT=  # For clients - generate with `magg auth jwt -q`

# Logging
# MAGG_LOG_LEVEL=WARNING

# Other options
# MAGG_CONFIG_PATH=./magg/config.json
# MAGG_SELF_PREFIX=magg  # The prefix used in the MCP server for magg's own tools

# Config reloading

# MAGG_AUTO_RELOAD
# MAGG_RELOAD_POLL_INTERVAL
# MAGG_RELOAD_USE_WATCHDOG
# MAGG_READ_ONLY
